/* we-are */
.we-are-container {
    width: 100%;
    margin-top: 250px;
}

.we-are-title {
    margin-left: 16%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 122px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.we-are-text {
    margin-left: 16%;
    width: 60%;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 108px;
    line-height: 120px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.we-are-img {
    position: absolute;
    margin-top: -350px;
    margin-left: 32%;
    z-index: -1;
    position: absolute;
    width: 1194px;
    height: 453px;
}

/* ideas */
.ideas-container {
    width: 100%;
}

.ideas-img-container {
    width: 80%;
}

.ideas-img-1 {
    position: absolute;
    width: 974px;
    height: 639px;
    margin-top: 230px;
    margin-left: 34%;
}

.ideas-img-2 {
    position: absolute;
    width: 591px;
    height: 856px;
    margin-top: 700px;
    margin-left: 12%;
    z-index: 3;
}

.we-are-red {
    width: 17px;
    height: 639px;
}

.we-are-green {
    width: 19px;
    height: 856px;
}

.ideas-img-1>img {
    filter: grayscale(90%);
}

.ideas-img-2>img {
    filter: grayscale(90%);
    z-index: 3;
}

.ideas-text-container {
    position: absolute;
    width: 666px;
    height: 632px;
    margin-top: 980px;
    margin-left: 53%;
}

.ideas-title {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 108px;
    line-height: 120px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
    width: 661px;
}

.ideas-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
    margin-top: 60px;
}

.show-services-button {
    width: 240px;
    height: 61px;
    border-radius: 48.5px;
    padding: 0;
    border: 0;
    background: #3E3D3D;
    margin-top: 60px;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

/* symbols-meaning */
.symbols-meaning-container {
    width: 100%;
    margin-top: 1880px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.symbol-meaning-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    letter-spacing: 1.152px;
    color: #F7F7F7;
    width: 1109px;
}

.symbols {
    margin-top: 20px;
    width: 749px;
    height: 490px;
    display: flex;
    align-items: center;
}

.x>svg:hover {
    fill: #5AEE74;
}

.o>svg:hover {
    fill: #8159FF;
}

.v>svg:hover {
    fill: #FF3B4A;
}

.x:hover ~ .symbol-meaning-text::after {
    content: 'SVEGLIA';
}

.o:hover ~ .symbol-meaning-text::after {
    content: 'PENSA';
}

.v:hover ~ .symbol-meaning-text::after {
    content: 'CREA';
}

.symbol-meaning-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 162px;
    line-height: 197px;
    letter-spacing: 1.152px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 500px;
    margin-left: -90%;
}

/* promote-ideas */
.promote-ideas-container {
    width: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promote-ideas-text-container {
    width: 90%;
}

.promote-ideas-text {
    width: 90%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 48px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.promote-ideas-img {
    width: 90%;
    margin-top: 30px;
}

.promote-ideas-img>img {
    width: 100%;
    mix-blend-mode: luminosity;
}

/* our-strength */
.our-strength-container {
    width: 100%;
    margin-top: 40px;
    height: 101vh;
}

.our-strength-img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.our-strength-img>img {
    width: 100%;
    height: 1012px;
}

.our-strength-box {
    width: 100%;
    height: 119vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.our-strength {
    width: 923px;
    height: 562px;
    background: #000000;
    border-radius: 281px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-strength-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 122px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our-strength-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 1.152px;
    color: #F7F7F7;
    width: 612px;
}

/* our-team */
.our-team-container{
    width: 100%;
    background: #FFFFFF;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.our-team-title {
    width: 963px;
    height: 102px;
    align-self: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 122px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

.our-team {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.our-team-component {
    width: 25%;
}

.our-team-component>img {
    width: 90%;
    mix-blend-mode: luminosity;
}

.our-team-component-name {
    position: relative;
    bottom: 120px;
    left: 20px;
    width: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.our-team-component-role {
    position: relative;
    bottom: 110px;
    left: 20px;
    width: 40%;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

/* kick-off */
.kick-off-container {
    width: 100%;
    display: flex;
}

.kick-off-contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}

.kick-off-txt {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 122px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.kick-off-title {
    width: 90%;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 108px;
    line-height: 120px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.kick-off-text {
    margin-top: 80px;
    width: 80%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 63px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.contact-us-buttons {
    margin-top: 60px;
    width: 50%;
}

.kick-off-xo {
    margin-top: 500px;
    width: 72%;
}

.kick-off-xo>img {
    width: 233px;
    height: 89px;
}

.kick-off-details-text {
    width: 87%;
    margin-top: 502px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.kick-off-details-list {
    margin-top: 100px;
    width: 87%;
    border-bottom: 2px solid #ffffff33;
}

.kick-off-detail {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 2px solid #ffffff33;
}

.kick-off-detail>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 70px;
    letter-spacing: 1.152px;
    color: #FFFFFF;
}

.kick-off-details {
    width: 50%;
}

/* join-team */
.join-team-container {
    width: 100%;
    margin-top: 200px;
    display: flex;
    padding-bottom: 950px;

}

.join-team-imgs {
    width: 50%;
}

.join-team-img-1 {
    position: absolute;
    margin-top: 80px;
    margin-left: 10%;
}

.join-team-img-2 {
    position: absolute;
    margin-top: 750px;
    margin-left: 45%;
}

.side-color-purple {
    width: 17px;
    height: 797px;
}

.side-color-green {
    width: 17px;
    height: 797px;
}

.join-team-img-1>img {
    mix-blend-mode: luminosity;
    height: 797px;
}

.join-team-img-2>img {
    mix-blend-mode: luminosity;
    height: 799px;
}

.join-team {
    width: 50%;
}

.join-team-title {
    width: 80%;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 90px;
    line-height: 102px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.join-team-text {
    margin-top: 50px;
    width: 88%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.join-team-button {
    margin-top: 50px;
    padding: 0;
    border: 0;
    background: #3E3D3D;
    border-radius: 48.5px;
    width: 240px;
    height: 61px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}