*,
*:before,
*:after {
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0C0B0B;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

.navbar {
    background-color: transparent;
    backdrop-filter: blur(10px);
}

button {
    cursor: pointer;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* menu */

.menu-items {
    position: relative;
    z-index: 5000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
    height: auto;
    padding-top: 0;
    transition: transform 0.3s ease-in;
    text-align: center;

    display: flex;
}

.menu-items a {
    height: 120px;
    display: flex;
    align-items: center;
    transition: background-color .3s ease-in;
    border-top: 2px solid #ffffff33;
}

.menu-list {
    margin-top: 80px;
    margin-left: 100px;
    width: 50%;
    border-bottom: 2px solid #ffffff33;
}

.menu-items a:hover {
    background-color: #4A4A4A;
}

.menu-list>ul {
    border-bottom: 2px solid #ffffff33;
}

.info {
    overflow: hidden;
    width: 50%;
    text-align: left;

    font-family: 'Montserrat';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.address {
    margin-top: 75px;
    margin-left: 25%;
}

.contacts {
    margin-top: 50px;
    margin-left: 25%;
}

.menu-items-title {
    font-weight: 700;
}

.menu-items-text {
    font-weight: 400;
}

.start-project-button {
    margin-top: 50px;
    margin-left: 25%;

    background: #3E3D3D;
    width: 295px;
    height: 61px;
    border-radius: 48.5px;
    padding: 0;
    border: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

.info>img {
    width: 52%;
    margin-left: 25%;
    margin-top: 80px;
}

#toggle:checked~.menu-items .start-project-button:hover~.info .menu-list {
    background-color: #5AEF74;
}


/* menu toggle */

#toggle {
    display: none;
}

/* menu */
.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 156px;
    height: 41px;
    border-radius: 48.5px;
    margin-right: 10vh;
    background: #2A2A2A;
}

.menu-items {
    position: fixed;
    left: -100vw;
    overflow-y: hidden;
    width: 100vw;
    height: 100%;
    padding-top: 40px;
    background-color: #0C0B0B;
    z-index: 1000;
}

.menu-items a {
    padding: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 80px;
    display: flex;
    align-items: center;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

/* menu toggle */
.navbar {
    display: block;
    z-index: 2000;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 25px;
    width: 100%;
    height: 109px;

    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.logo-container {
    width: 93.6px;
    height: 44px;
    margin-left: 10vh;
}

.menu-text {
    color: white;
    font-size: 22px;
}

.menu-icon {
    display: block;
    position: relative;
    width: 35px;
    height: 100%;
    cursor: pointer;
    -webkit-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
}

.menu-icon>span {
    display: block;
    position: absolute;
    top: 55%;
    margin-top: -1px;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: white;
}

.menu-icon>span:before,
.menu-icon>span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    background-color: white;
}

.menu-icon>span:before {
    -webkit-transform: translateY(-0.6em);
    transform: translateY(-0.6em);
}

.menu-icon>span:after {
    -webkit-transform: translateY(0.6em);
    transform: translateY(0.6em);
}

#toggle:checked~.menu-items {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

#toggle:checked~.navbar-containerainer {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
}

#toggle:checked+.navbar .menu-icon>span:before,
#toggle:checked+.navbar .menu-icon>span:after {
    display: none;
}

#toggle:not(:checked)+.navbar .menu-text::after {
    content: "Menù"
}

#toggle:checked+.navbar .menu-text::after {
    content: "Chiudi";
}

.noscroll {
    overflow: hidden;
    position: fixed;
}

/* chi-siamo */
.chi-siamo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.chi-siamo {
    width: 902px;
}

.chi-siamo-text {
    color: white;
    font-size: 50px;
    font-weight: 400;
    line-height: 63.4px;
    letter-spacing: 1.15px;
}

.bold-text {
    font-weight: 700;
}

.italic-playfair {
    font-style: italic;
    font-family: 'Playfair Display', sans-serif;
}

.green-text {
    color: #5AEF74;
}

/* xo> img */
.xo-container {
    position: absolute;
    overflow: hidden;
    margin-top: 100px;
    margin-left: -200px;
}

.xo-container>img {
    height: 80%;
    width: 120%;
}

.boschetti-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.video-mask {
    border-radius: 20px;
    overflow: hidden;
    transform: translateZ(0);
    /* Standard property */
    -webkit-transform: translateZ(0);
    /* Prefisso del venditore per Chrome, Opera 12, Safari 3 */

}

.boschetti-video {
    z-index: 2;
    width: 85%;
}

/*  */
.scrolling-text-container {
    width: 100%;
    margin-top: 230px;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-text {
    color: #FFFFFF;
    font-size: 230px;
    font-weight: 200;
}

/* Line */
.line-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.line {
    width: 86%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* position: absolute; */
}

/* chi-siamo */
.agency-container {
    width: 100%;
    margin-top: 400px;

    display: flex;
    flex-wrap: wrap;
}

.brand {
    width: 55%;
    display: flex;
    justify-content: center;
}

.stroke-10 {
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;

    font-weight: 500;
    font-size: 41rem;
    line-height: 80px;
    letter-spacing: 1.152px;

    color: #0C0B0B;
    text-shadow:
        -2px -2px 0 #5AEF74,
        2px -2px 0 #5AEF74,
        -2px 2px 0 #5AEF74,
        2px 2px 0 #5AEF74;
}

.brand-text-container {
    width: 60%;
    position: relative;
    margin-left: 50px;
    z-index: 2;
    background-color: #0C0B0B;
}

.brand-text-container>p {
    color: white;
    font-size: 76px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 1.15px;
}

/* creative-agency */
.creative-agency-container {
    width: 45%;
    padding-left: 40px;
}

.creative-agency-text {
    width: 475px;

    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.contact-us-buttons {
    width: 50%;
    margin-top: 50px;
    display: flex;
}

.contact-us-buttons>.contact-us-button {
    cursor: pointer;
    background: #5AEF74;
    border-radius: 48.5px;

    width: 223.81px;
    height: 61px;

    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.contact-us-buttons>.call-button {
    cursor: pointer;
    background: #5AEF74;
    border-radius: 48.5px;

    width: 60.66px;
    height: 61px;

    margin-left: 5px;
}

.contact-us-buttons:hover .contact-us-button,
.contact-us-buttons:hover .call-button {
    background-color: #FFFFFF;
}

.contact-us-buttons img {
    transition: transform 0.3s ease;
}

.contact-us-buttons:hover img {
    transform: rotate(-45deg);
}

.line-container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 330px;
}

/* projects */

.selected-projects-container {
    width: 100%;
    overflow: hidden;
}

.selected-projects-title {
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 100px;
    margin-left: 10%;
}


.selected-projects {
    white-space: nowrap;
    margin-top: 50px;
    width: 100%!important;
    cursor: grab;
}

.project {
    display: inline-block;
    height: 100vh;
    width: 72vh;
    border-radius: 40px;
    overflow: hidden;
    transition: filter 1s ease, transform 1s ease;
    margin-right: 30px;
}

#project-1 {
    margin-left: 100px;
}

.project figure {
    position: relative;
    height: 100vh;
    display: block;
    padding-bottom: 56.25%;
    overflow: hidden;
    transition: transform 1s ease;
}

.project:hover figure {
    transform: scale(1.2);
}

.project>figure>img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.project>figure>img:hover {
    opacity: 1;
}

.green-line {
    width: 84%;
    height: 0px;
    border: 1px solid #5AEF74;
    margin-top: -150px;
    z-index: 2;
}


.project-title {
    position: relative;
    font-size: 38px;
    line-height: 100px;
    letter-spacing: 1.152px;
    color: #FFFFFF;
    margin-left: 7.5%;
    margin-top: -160px;
    z-index: 2;
}

.project-info {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.152px;
    color: #FFFFFF;
    margin-left: 7.5%;
    z-index: 2;
}

.all-projects {
    margin-left: 10%;
    margin-top: 30px;
    font-size: 22px;
    line-height: 27px;

    letter-spacing: 1.152px;
    text-decoration-line: underline;

    color: #F7F7F7;
}

.line-container3 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/* our-services*/
.our-services-container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.our-services {
    width: 40%;
    display: flex;
    justify-content: end;
}

.our-services-text-container {
    width: 80%;
}

.our-services-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 122px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.8);
}

.our-services-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 1.152px;

    color: #F7F7F7;
    margin-top: 50px;
}

.discover-services {
    width: 240px;
    height: 61px;
    padding: 0;
    border: 0;
    background: #3E3D3D;
    border-radius: 48.5px;
    margin-top: 100px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}


.we-do-container {
    width: 60%;
    display: flex;
    padding-left: 20px;
}

.animation {
    margin-top: 100px;
    height: 753px;
    width: 195px;
}

.we-do {
    margin-left: 30px;
}

.we-do-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 122px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.we-do-list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 63px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.slider {
    margin-top: 130px;
    margin-left: 20px;
    width: 11px;
    height: 725px;
    left: 1535px;
    top: 4524px;

    background: rgba(217, 217, 217, 0.2);
    border-radius: 5.5px;
}

.slider-green {
    margin-top: 300px;
    width: 11px;
    height: 247px;
    left: 1535px;
    top: 4903px;

    background: #5AEF74;
    border-radius: 5.5px;
}

/* about-us */
.about-us-cotainer {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.about-us-text-container {
    width: 45%;
}

.about-us-title {
    margin-left: 20%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 122px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about-us-text {
    margin-left: 20%;
    margin-top: 120px;
    width: 441px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.about-us-button {
    margin-left: 20%;
    margin-top: 70px;
    width: 281px;
    height: 61px;
    padding: 0;
    border: 0;
    background: #3E3D3D;
    border-radius: 48.5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

.about-us-images {
    width: 55%;
    padding-left: 30px;
}

.about-us-img-1 {
    position: absolute;
}

.about-us-img-2 {
    position: absolute;
    margin-top: 330px;
    margin-left: 100px;
}

.about-us-img-3 {
    position: absolute;
    margin-top: 140px;
    margin-left: 400px;
}

.side-color-green {
    background-color: #5AEE74;
    position: absolute;
    z-index: 2;
    width: 19px;
    height: 502px;
}

.side-color-purple {
    background-color: #9747FF;
    position: absolute;
    z-index: 2;
    width: 19px;
    height: 670px;
}

.side-color-red {
    background-color: #FF3B4A;
    position: absolute;
    z-index: 2;
    width: 19px;
    height: 482px;
}

.about-us-img-1>img {
    mix-blend-mode: luminosity;
}

.about-us-img-2>img {
    mix-blend-mode: luminosity;
}

.about-us-img-3>img {
    mix-blend-mode: luminosity;
}

/* believes-in-us */
.believes-in-us-container {
    width: 100%;
    margin-top: 10px;
}

.believes-in-us {
    margin-top: 40px;
    height: 130px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes logos-scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-400px * 6))
    }
}

.believes-in-us-loghi {
    animation: logos-scroll 15s linear infinite;
    display: flex;
    width: calc(400px* 16);
}

.believes-in-us-logh {
    height: 130px;
    width: 300px;
    margin-right: 100px;
}

.believes-in-us-title {
    margin-left: 10%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 122px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* our-sectors-container */
.our-sectors-container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.our-sectors {
    width: 50%;
}

.our-sectors-title {
    margin-left: 20%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 122px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sector {
    display: flex;
    align-items: center;
}

.sector-rectangle {
    margin-left: 20%;
    width: 19px;
    height: 42px;
    background: #3E3E3E;
    border-radius: 9.5px;
}

.green {
    background: #5AEF74;
}

.sector-text {
    margin-left: 3%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.bold {
    font-weight: 600;
}

.our-sectors-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap
}

.our-sectors-text {
    margin-top: 140px;
    width: 554px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1.152px;
    color: #F7F7F7;
}

.faded-text {
    color: #a09e9e;
}

.read-all {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1.152px;
    text-decoration-line: underline;
    color: #F7F7F7;
}

/* contact-us */
.contact-us-container {
    width: 100%;
    margin-top: 100px;
    background: #5AEF74;
}

.contact-us {
    width: 100%;
    padding-bottom: 430px;
}

.xo-bg {
    margin-top: 100px;
    position: absolute;
    opacity: 0.1;
    display: flex;
    justify-content: center;
}

.xo-bg>img {
    width: 150%;
}

.contact-us-text {
    position: relative;
    padding-top: 12%;
    margin-left: 10%;
    width: 56%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 91px;
    letter-spacing: 1.152px;
    color: #000000;
}

.contact-us-button-blk {
    margin-left: 10%;
    margin-top: 30px;
    width: 222px;
    height: 65px;
    left: 180px;
    top: 8398px;
    background: #000000;
    border-radius: 58px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

/* footer */
footer {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 1.152px;
}

.footer-1 {
    width: 100%;
    margin-top: 120px;
    display: flex;
}

.footer-xo {
    width: 36%;
    display: flex;
    justify-content: center;
}

.footer-xo>img {
    width: 233px;
    height: 89px;
}

.footer-address {
    width: 34%;
    padding-left: 3%;
}

.footer-title {
    color: #545454;
    font-weight: 700;
}

.footer-text {
    color: #FFFFFF;
    font-weight: 400;
}

.footer-follow-us {
    width: 14%;
}

.footer-menu {
    width: 12%;
}


.footer-2 {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.footer-2>p {
    width: 87%;
    color: #FFFFFF;
}


/* responsive */

@media screen and (max-width: 1270px) {
    .brand-text-container {
        margin-left: -50px;
    }
}

@media screen and (max-width: 992px) {
    [class*="col-phone"] {
        padding: 15px;
        width: 100%;
        /* border: 1px solid red; */
    }

    .menu-items a {
        font-size: 38px;
        height: 95px;
    }

    .info {
        font-size: 17px;
    }

    .start-project-button {
        width: 220px;
        font-size: 20px;
    }

    .creative-agency-container {
        margin-top: 150px;
        padding-left: 28%;
    }

    .believes-in-us-container {
        margin-top: 700px;
    }

    .selected-projects {
        width: 117%;
        height: 40%;
    }

    .project {
        height: 56vh;
    }

    .green-line {
        margin-top: 75%;
    }

    .selected-projects-title {
        margin-left: 0;
    }

    .selected-projects {
        margin-left: 0;
    }

    .our-services {
        justify-content: center;
    }

    .discover-services {
        margin-left: 28%;
    }

    .we-do-container {
        justify-content: center;
    }

    .about-us-title {
        margin-left: 28%;
    }

    .about-us-text {
        margin-left: 28%;
    }

    .about-us-button {
        margin-left: 28%;
    }

    .about-us-images {
        margin-left: 10%;
    }

    .believes-in-us-title {
        height: 200px;
    }

    footer {
        font-size: 24px;
    }

    .footer-xo {
        width: 24%;
    }

    .footer-xo>img {
        width: 180px;
    }

    .footer-address {
        width: 32%;
    }

    .footer-follow-us {
        width: 32%;
    }

    .footer-menu {
        width: 22%;
    }

    .footer-2 {
        margin-top: 58px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {

    .logo-container {
        margin-left: 3vh;
    }

    .menu-items {
        padding-top: 114px;
    }

    .menu-items a {
        font-size: 16px;
        height: 70px;
    }

    .menu-container {
        margin-right: 3vh;
    }

    .menu-list {
        margin-left: 30px;
    }

    .info {
        font-size: 13px;
    }

    .address {
        margin-left: 12%;
    }

    .contacts {
        margin-left: 12%;
    }

    .start-project-button {
        margin-left: 12%;
        width: 154px;
        height: 50px;
        font-size: 14px;
    }

    .chi-siamo-text {
        font-size: 28px;
        line-height: 49.4px;
    }

    .scrolling-text-container {
        margin-top: 130px;
    }

    .agency-container {
        margin-top: 130px;
    }

    .stroke-10 {
        margin-left: 0px;
        font-size: 22rem;
    }

    .brand-text-container {
        width: 76%;
        margin-top: 30px;
        margin-left: 0px;
    }

    .brand-text-container>p {
        font-size: 35px;
        line-height: 50px;
    }

    .creative-agency-container {
        margin-top: 80px;
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .creative-agency-content {
        width: 80%;
    }

    .creative-agency-text {
        width: 100%;
        font-size: 28px;
    }

    .contact-us-buttons {
        width: 100%;
    }

    .line-container2 {
        margin-top: 100px;
    }

    .selected-projects-title {
        margin-top: 46px;
    }

    .selected-projects {
        width: 169%;
        height: 40%;
    }

    .project {
        height: 36vh;
        border-radius: 2%;
    }

    .green-line {
        margin-top: 60%;
    }

    .project-title {
        font-size: 26px;
        line-height: 80px;
    }

    .project-info {
        font-size: 12px;
    }

    .all-projects {
        font-size: 18px;
    }

    .our-services-title {
        font-size: 20px;
    }

    .our-services-text {
        font-size: 38px;
    }

    .discover-services {
        margin-left: 0;
    }

    .animation {
        margin-top: 100px;
        height: 598px;
    }

    .we-do-text {
        font-size: 12px;
    }

    .we-do-list {
        font-size: 13px;
        line-height: 35px;
    }

    .slider {
        height: 570px;
    }

    .slider-green {
        margin-top: 232px;
    }

    .about-us-title {
        font-size: 16px;
    }

    .about-us-text {
        margin-top: 0;
        width: 82%;
        font-size: 14px;
    }

    .believes-in-us-container {
        margin-top: 884px;
    }

    .believes-in-us-title {
        height: 150px;
    }

    .our-sectors-title {
        font-size: 18px;
        margin-left: 14%;
    }

    .sector-text {
        font-size: 20px;
    }

    .sector-rectangle {
        margin-left: 14%;
    }

    .our-sectors-text {
        margin-top: 60px;
        width: 88%;
        font-size: 18px;
    }

    .contact-us {
        padding-bottom: 70px;
    }

    .contact-us-text {
        padding-top: 24%;
        width: 75%;
        font-size: 28px;
        line-height: 48px;
    }

    footer {
        font-size: 12px;
        line-height: 23px;
    }

    .footer-xo>img {
        width: 90px;
    }

    .about-us-title {
        margin-left: 15%;
    }

    .about-us-text {
        margin-left: 15%;
    }

    .about-us-button {
        margin-left: 15%;
    }

    .about-us-images {
        margin-left: 0;
    }
}